html {
    height: 100%;
}

h1 {
    color: #fff0c8;
    text-align: center;
}

body{
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    background-color: #000;
    position: sticky;
    margin: 0;
    padding: 0%;
    top: 0%;
}

header img {
    width: 200px;
    height: 200px;
}

header nav ul {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

header nav ul a {
    text-decoration: none;
}

header nav ul a li {
    color: #fff0c8;
    list-style-type: none;
    display: inline;
    position: relative;
    left: -30px;
    font-weight: bolder;
    font-size:larger;
    font-family: 
}

#aboutUsInfo {
    margin-left: 20%;
    margin-right: 20%;
}

main section div img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

/* Changes menu layout according to screen size - Responsive! */
@media (min-width: 500px) {

    /* Image size and shape changes */
    main section div img {
        height: 200px;
        width: 200px;
        border-radius: 25%;
    }

    /* Utilizes more space with bigger screens - less negative space */
    .foodContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 10px;
    }

    /* Menu Label/Titles */
    .containerTitle {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    /* On The House */
    #onTheHouse1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #onTheHouse2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* Appetizers */
    #app1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #app2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #app3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #app4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* Main */
    #main1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #main2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #main3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #main4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

footer {
    background-color: #000;
    color: #fff0c8;
    bottom: 0%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

table {
    margin: auto auto;
}

#dailyHours {
    font-size: 12px;
}

#footerInfo {
    display: flex;
    justify-content: space-evenly;
}

p {
    margin: 20px 40px 20px 40px;
}